header{
    position: absolute;
    width: 100%;
    height: 244px;
    left: 0px;
    top: 0px; 
}

.logoimg{
    position: absolute;
    width: 15em;
    height: 15em;
    Left: 0px;
    top: 0px;
}

.titulo{
    position: absolute;
    width: 1082px;
    height: 65px;
    left: 263px;
    top: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
}

.titulo2{
    position: absolute;
    width: 1082px;
    height: 65px;
    left: 263px;
    top: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
}

    .titulo3{
    position: absolute;
    width: 1082px;
    height: 65px;
    left: 263px;
    top: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
        
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    font-weight: 600;
    list-style: none;
}
        
nav {
    display: flex;
    justify-content: center;
    align-content: center;
    gap:600px;
    width: 100%;
    height: 100px;
}
              
ul{
    text-transform: uppercase;
}
        
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 100px; 
    font-size: 1.5rem;
}

nav a {
    background: -webkit-linear-gradient(120deg, hsl(0, 0%, 100%), hsl(39, 71%, 48%)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
            
nav a:hover{
    border-bottom: 2px solid hsl(0, 0%, 100%);
    transition: 1s;
}

h1{
    font-size: 3em; 
    text-align: center;
    margin-top: 20%;
    color:#000000;
}

h2{
    font-size: 3em; 
    text-align: center;
    margin-top: 3%;
    color:#000000;
}

h3{
    font-size: 3em; 
    text-align: center;
    margin-top: 3%;
    color:#000000;
}

h4{
    font-size: 3em; 
    text-align: center;
    margin-top: 3%;
    color:#000000;
}



/* 820px - 1024px = telas menores, laptops */
@media screen and (min-width: 820px) {
    .titulo1{font-size: 35px;}
    .titulo2{font-size: 35px;}
    .titulo3{font-size: 35px;}

}


/* 1024px - +telas = desktop */
@media screen and (min-width: 1024px) {
    .titulo{font-size: 63px; margin-left: 0%;}
    .titulo2{font-size: 62px; margin-left: 0%;}
    .titulo3{font-size: 62px; margin-left: 0%;}

}
