@import url(CSS/cards.css);
@import url(CSS/carousel.css);
@import url(CSS/header.css);
@import url(CSS/rodape.css);
@import url(CSS/video.css);


:root{
  --cor-de-fundo: #A66423;
  --cor-do-header:#2C7521;
}

body{
  background-color: var(--cor-de-fundo);
  }

header{
  background-color: var(--cor-do-header);
}